.item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #4f4c4c;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 8px 15px;
  font-weight: 300;
  font-size: 16px;
  border: transparent;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #201e20;
}

.btn:hover,
.btn:focus {
  color: #fafafa;
  background-color: #fb8a34;
  box-shadow: 4px 4px 9px #201e20;
}
.wrap{
  box-shadow: 0px 0px 5px 5px #e1d4b9;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
